@import "../../../../../public/assets/mixins/_button.mixin.scss";

footer {
  &.image-description-footer {
    display: flex;
    margin: 20px 0;
    height: 60px;

    div {
      &.quantity-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        width: 40%;
        border-radius: 10px;
        background-color: #efefef;

        span {
          &.quantity {
            font-weight: bold;
          }
        }

        button {
          width: 25%;
          border: none;
          color: #ff7d1a;
          font-weight: bold;
          font-size: 1.8rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    @include button;
  }
}
