@import "../../../../public/assets/mixins/button.mixin";

footer {
  &.image-description-footer {
    display: flex;
    margin: 20px 0;
    height: 60px;

    div {
      &.quantity-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 10px;
        width: 40%;
        border-radius: 10px;
        background-color: #efefef;

        span {
          &.quantity {
            font-weight: bold;
          }
        }

        button {
          width: 25%;
          border: none;
          color: #ff7d1a;
          font-weight: bold;
          font-size: 1.8rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    @include button;
  }
}

@media (min-width: 100px) and (max-width: 920px) {
  footer {
    &.image-description-footer {
      flex-direction: column;
      align-items: center;
      margin: 0;
      height: auto;

      div.quantity-container,
      button.button {
        width: 100%;
        height: 60px;
        margin: 12px 0;
      }
    }
  }
}
